/*General*/
body {
	font-family: -apple-system-font, "Trebuchet MS", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Orbitron', sans-serif;
}

a {
	word-wrap: break-word;
}

.vertical-align {
	display: flex;
	align-items: center;
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 992px) {
	.row.vertical-align {
		display: block; /* turn off the flexible box layout */
	}
}

.greenComputer {
	max-width: 80%;
}


.inherit-color, .inherit-color:hover, .inherit-color:focus, .inherit-color:active, .inherit-color:visited {
	color: inherit;
}

.pad{
	padding: 5em 0;
}

.dashed{
	padding: .6em;
	border-style: dashed;
	border-radius: .2em;
}

#title {
	font-size: 600%
}

@media (min-width: @screen-sm-min) {
	#title {
		font-size: 800%
	}
}

.events{
	font-size: 150%;
	line-height: 2.2em;
	margin-bottom: 2.2em;
}
.bulletList{
	font-size: 1.5em;
	padding:.9em;
}


/*Color blocks*/
.blackWithGreen {
	background-color: black;
	color: #00ff00;
}
.blackWithGreen hr {
    border-color: #00ff00;
}
.blackWithBlue {
	background-color: black;
	color: #38BDCC;
}
.blackWithBlue hr {
    border-color: #38BDCC;
}
.blackWithYellow {
	background-color: black;
	color: #CCBA38;
}
.blackWithYellow hr {
    border-color: #CCBA38;
}
.orangeWithBlack {
	background-color: #FF4939;
	color: black;
}
.orangeWithBlack hr {
    border-color: black;
}

.greyWithGreen {
	background-color: #222222;
	color: #00ff00;
}
.greyWithGreen hr {
    border-color: #00ff00;
}

.greyWithGreen ul li {
	font-size: 2em;
}

.greyWithRed {
	background-color: #222222;
	color: #FF4939;
}

.greyWithRed hr {
    border-color: #FF4939;
}

.greyWithRed ul li {
	font-size: 2em;
}

.grey {
	background-color: #222222;
}

.tan {
	background-color: #999576;
}
.mint {
	background-color: #78F59C;
	color: white;
}
.orange {
	background-color: #C1641B;
}
.lblue {
	background-color: #9FDCFF;
}
.steam {
    background-color: #17191E;
    color: #EFEFEF
}
