/*General*/
body {
	background-color:black;
	font-family: 'Orbitron', sans-serif;
}

.pad{
	padding: 5em 0em;
}

#title {
	font-size: 800%
}

.events{
	font-size: 150%;
	line-height: 2.2em;
}
.bulletList{
	font-size: 1.5em;
	pading:.9em;
}

.greenComputer{
	width: 60%;
}

.blackWithYellow hr{
	border-color: #CCBA38;
	width: 70%;
	float: left;
}


/*Color blocks*/
.blackWithGreen {
	background-color: black;
	color: #00ff00;
}
.blackWithBlue {
	background-color: black;
	color: #38BDCC;
}
.blackWithYellow {
	background-color: black;
	color: #CCBA38;
	border-color: #CCBA38;
}
.grey {
	background-color: #222222;
	color: #24c0eb;
}
.tan {
	background-color: #999576;
}
.mint {
	background-color: #78F59C;
	color: white;
}
.orange {
	background-color: #C1641B;
}
.lblue {
	background-color: #9FDCFF;
}
